.App {
  text-align: center;
}

.card-selection {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.card-selection-button {
  margin-right: 5px;
  margin-top: 5px;
}

.title-and-trackers {
  margin-top: 50px;
  margin-bottom: 20px;
}

.tracker-wrong {
  display: inline;
  font-size: 25px;
  color: red;
}

.tracker-right {
  display: inline;
  font-size: 25px;
  color: green;
}

.title {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}
