.App {
  text-align: center;
}

.card-selection {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-selection-button {
  margin-right: 5px;
  margin-top: 5px;
}

.title-and-trackers {
  margin-top: 50px;
  margin-bottom: 20px;
}

.tracker-wrong {
  display: inline;
  font-size: 25px;
  color: red;
}

.tracker-right {
  display: inline;
  font-size: 25px;
  color: green;
}

.title {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}

.newCardForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  justify-content: space-between;
  height: 175px;
}

/* Small devices (screens, 992px and down) */
@media only screen and (max-width: 990px) {
  .newCardForm {
    max-width: 80%;
    height: 155px;
  }
}
